@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-LightItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("/RobotoSlab-ExtraBold.ttf");
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.0625rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue: cyan;
  --light: violet;
  --dark: indigo;
  --white: white;
  --black: #2b2b2b;
}

input {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  height: 2.25rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  width: 18rem;
}


.error-text {
  color: magenta;
}
.shake {
  animation: rattle 0.3s;
  animation-iteration-count: 1;
  border: 2px solid magenta;
}

@keyframes rattle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

a {
  color: var(--blue);
  text-decoration: none;
}
a:hover {
  color: cyan;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

main {
  max-width: min(100vw, 1280px);
  margin: 0 auto;
  padding: 2rem;
}


button {
  border-radius: 8px;
  color: var(--blue);
  align-items: center;
  display: flex;
  margin: 2rem;
  padding: 1.5rem;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  background-color: var(--black);
  cursor: pointer;
  transition: border-color 0.25s;
    border: 2px solid var(--white);
    box-shadow: 6px 6px var(--dark);
    text-align: right;
    height: 2.25rem;
  width: 6.25rem;
  justify-content: center;
}
button:hover {
  border-color: var(--blue);
  color: var(--white);
  transform: translateY(2px);
  box-shadow: 6px 4px var(--dark);

}
button:focus,
button:focus-visible {
  outline: 4px auto var(--blue);
}

p {
  color: var(--dark);
  font-style: italic;
}

h2 {
  color: var(--dark);
  margin-bottom: 1rem;
  font-weight: 300;
  font-style: italic; 
}

@media print {
  * {
    color: black !important;
  }

  .nonprinting, img, button {
    display: none !important;
  }

  @media (max-width: 480px) {
    main {
      max-width: 100%;
    }
  }

  @media (min-width: 480px) and (max-width: 1280px) {
    main {
      max-width: 100%;
    }
  }
}
